.section-focus {
    padding-top: 81px;
    position: relative;
    
    &::before {
        content: "";
        display: block;
        width: 187px;
        height: 187px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(56%, -50%) rotate(45deg);
        background-color: #a4eecb;  
    }
}
.section-focus-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-focus__header {
    margin-bottom: 45px;
}
.section-focus-img-wrapper {
    position: relative;
    width: 470px;
    height: 731px;
    
}
.section-focus-img {
    position: absolute;
    top: 0;
    right: 0;

}
.section-focus-row p{
    line-height: 2.2;
}