.section-price {
    position: relative;
    padding: 72px 0 80px;
    background-color:  #50e3a4;
    
    @media (min-width: 768px) {
        padding: 71px 0 84px;
        background-image: url(../image/bcg-img-price/bcg-img-price.jpg);
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    @media (min-width: 1200px) {
        padding: 102px 0 93px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.section-price__cell-header h3, .section-price__cell-title h2 > {
    color: white;
}

.section-price__cell-header {
    margin-bottom: 41px;
    text-align: center;
    @media (min-width: 768px) {
        margin-bottom: 62px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 75px;
    }
}
.section-price__cell-title .section-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.section-price__cell-title {
    margin-bottom: 31px;

    @media (min-width: 768px) {
        margin-bottom: 27px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 68px;
    }
}
.container-relative {
    position: relative;
    z-index: 3;
}